Source: mamolinux-meta
Section: metapackages
Priority: optional
Maintainer: Himadri Sekhar Basu <hsb10@iitbbs.ac.in>
Standards-Version: 4.6.0
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               germinate (>= 1.18),
               devscripts,
               debootstrap,
               git
Homepage: https://github.com/mamolinux/
Vcs-Browser: https://github.com/mamolinux/mamolinux-meta
Vcs-Git: https://github.com/mamolinux/mamolinux-meta.git

Package: mamolinux-minimal
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Breaks: ubuntu-minimal
Description: Minimal core of MamoLinux
 This metapackage depends on all of the packages in the MamoLinux minimal system,
 that is a functional command-line system with the following capabilities:
 .
  - Boot
  - Detect hardware
  - Connect to a network
  - Install packages
  - Perform basic diagnostics
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: mamolinux-standard
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Breaks: ubuntu-standard
Description: CLI-only components of MamoLinux
 This metapackage depends on most of non-GUI packages from MamoLinux.
 .
 This set of packages provides a comfortable command-line Unix-like
 environment.
 .
 It is used to ensure proper upgrades, so it is recommended that it not be
 removed.

Package: mamolinux-desktop-minimal
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Provides: packagekit-installer
Description: MamoLinux Cinnamon with minimal utilities
 This metapackage installs the MamoLinux desktop with minimal utilities.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: mamolinux-desktop
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Provides: packagekit-installer
Description: MamoLinux Cinnamon with basic utilities
 This metapackage installs the MamoLinux Cinnamon desktop with basic utilities.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: mamolinux-desktop-full
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Provides: packagekit-installer
Description: Full desktop of MamoLinux Cinnamon with all utilities
 This metapackage installs the MamoLinux Cinnamon desktop with all utilities.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: mamolinux-ship
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MamoLinux Live Packages
 This metapackage installs the packages needed to make a system bootable.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: mamolinux-live
Architecture: any
Depends: ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MamoLinux Live Packages
 This metapackage installs the packages needed for the MamoLinux live session.
 .
 It is used to help detect and install the MamoLinux desktop experience, so it
 is usually removed post-installation.
 It is not needed on a installed system and can be removed safely.
